.App {
  text-align: center;
}

.InfoBarLinks{
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
  margin-left: 8%;
  margin-right: 8%;
  /* width: 100%; */
}

.CVItemClass{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.list-item {

  padding: 0;
  list-style-position: inside;
  text-align: left;
  width: 100%;
}

.WhatdDoIdo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.WhatdDoIdo ul {
  text-align: left;
}


.CVItemText{
  margin-left: 10%;
  text-align: left;
}

.dataTitle{
  font-weight: 1000;
}

.dataTime{
  font-weight: 200;
  margin-bottom: 20px;
}





.SmallCVLeft {
  text-align: left;
}

.SmallCVRight {
  text-align: right;
}

.Smallimg{
  width: 23.99px;
}


