html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/*   background: linear-gradient(180deg, rgba(4, 255, 8, 0.3) 0%, rgba(212, 60, 233, 0.908) 100%); */
.AppWrapper {
  background: linear-gradient(180deg, rgba(3, 251, 251, 0.3) 0%, rgba(234, 238, 3, 0.908) 100%);
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.AppWrapper2 {
  background: linear-gradient(180deg, rgb(56, 227, 250), rgba(117, 3, 238, 0.3) 100%);
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  /* margin-bottom: 10px; */
}

.appWave{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.waveWrapper {
  /* background: linear-gradient(180deg, rgb(56, 227, 250), rgba(245, 237, 237, 0.3) 100%); */
  position: relative;
  margin: -30px;
  z-index: 1;
  overflow: hidden;
}

.waveWrapper > svg {
  position: relative;
  z-index: 2;
  display: block;
  overflow: hidden;
}





.InfoBarLinks {
  display: flex;
  justify-content: center; /* Change from space-between to center */
  align-items: center; /* Add this line */
  margin-top: 8%;
  gap: 10rem; /* Add this line to control the spacing between items */
}

.info-bar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.StartHeaderTop{
  margin-top: 0px;
}

.CVItemClass{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.list-item {

  padding: 0;
  list-style-position: inside;
  text-align: left;
  width: 100%;
}

.WhatdDoIdo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.WhatdDoIdo ul {
  text-align: left;
}


.CVItemText{
  margin-left: 10%;
  text-align: left;
}

.AlignRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: flex-start; /* Add this line */
}

.CVItemImage {
  margin-left: auto; /* Add this line */
  margin-right: 20%;
}



.AllCVJobsBigList {
  list-style-type: none;
  padding: 0;
}

.dataTitle{
  font-weight: 1000;
}

.dataTime{
  font-weight: 200;
  margin-bottom: 20px;
}

.all-skill-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /* Add this line */
  gap: 0.5rem; /* Add this line */
  margin-top: 80px;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 80px;
}


.floating-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 55%;
  border-color: rgb(228, 52, 33);
  align-items: center;
  justify-content: center;
}



.floating-item {
  background-color: #f3f3f3;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}



.floating-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; Add this line */
  box-sizing: border-box; /* Add this line */
}

.floating-list-title {
  font-weight: bold;
  margin-bottom: 1rem;
}



/* TODO change depending on screen size */
.ImageLinkElement{
  width:23.99px;
  height:23.99px;
  margin-top: 20px;
}





.SmallCVLeft {
  text-align: left;
}

.SmallCVRight {
  text-align: right;
}

.Smallimg{
  width: 23.99px;
}

.Mediumimg{
  width: 10%;
  position: absolute;
  right: 10%;
  top: 2%;
  border-radius: 50px;



}
.MediumimgLeft {
  width: 20%;
  position: absolute;
  left: -8%;
  top: -14%;
  border-radius: 50px;
  animation: spin 50s linear infinite; 
}

/* Add this block */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




@media (max-width: 768px) {
  .floating-list {
    width: 100%;
  }
  .floating-list-container {
    width: 60%; /* Adjust this value as needed */
  }

  .all-skill-lists {
    justify-content: center;
    align-items: center; /* Add this line */
    gap: 1rem; /* Add this line */
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 50px;
  }

  .InfoBarLinks {
    gap: 2rem; /* Add this line to control the spacing between items */
  }

  .MediumimgLeft {
    width: 30%;
    position: absolute;
    left: -10%;
    top: -6%;
    border-radius: 50px;
    animation: spin 50s linear infinite; 
  }
}



